<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931" />

  <material name="dark_grey"><color rgba="0.2 0.2 0.2 1.0" /></material>
  <material name="black"><color rgba="0.15 0.15 0.15 1.0" /></material>

  <!--
    Add/remove a 2D lidar sensor by changing the CPR_LASER environment variable. The default model is the SICK LMS1xx, but this can be changed with the CPR_LASER_MODEL environment variable. Valid model designations are:
    - lms1xx (default) :: SICK LMS1xx
    - ust10            :: Hokuyo UST-10LX
  -->
  <xacro:if value="$(optenv CPR_LASER 0)">
    <xacro:property name="lidar_model" value="$(optenv CPR_LASER_MODEL lms1xx)" />

    <xacro:if value="${lidar_model == 'lms1xx'}">
      <xacro:include filename="$(find sick_scan)/urdf/sick_lms1xx.urdf.xacro" />
      <xacro:sick_lms_1xx name="$(optenv CPR_LASER_PARENT base_link)" ros_topic="$(optenv CPR_LASER_TOPIC scan)" />

      <joint name="$(optenv CPR_LASER_PARENT base_link)_laser_joint" type="fixed">
        <origin xyz="$(optenv CPR_LASER_XYZ 0 0 0)" rpy="$(optenv CPR_LASER_RPY 0 0 0)" />
        <parent link="$(optenv CPR_LASER_PARENT base_link)" />
        <child link="$(optenv CPR_LASER_PARENT base_link)_mount_link" />
      </joint>
    </xacro:if>

    <xacro:if value="${lidar_model == 'ust10'}">
      <xacro:include filename="$(find generic_robot)/urdf/accessories/laser/hokuyo_ust10.urdf.xacro" />
      <xacro:hokuyo_ust10 frame="$(optenv CPR_LASER_PARENT base_link)_laser" topic="$(optenv CPR_LASER_TOPIC scan)"/>

      <joint name="$(optenv CPR_LASER_PARENT base_link)_laser_joint" type="fixed">
        <origin xyz="$(optenv CPR_LASER_XYZ 0 0 0)" rpy="$(optenv CPR_LASER_RPY 0 0 0)" />
        <parent link="$(optenv CPR_LASER_PARENT base_link)" />
        <child link="$(optenv CPR_LASER_PARENT base_link)_laser" />
      </joint>
    </xacro:if>
  </xacro:if>

  <!--
    Add/remove a 3D lidar sensor by changing the CPR_LASER_3D environment variable. The default model is the Velodyne VLP16, but this can be changed with the CPR_LASER_3D_MODEL environment variable. Valid model designations are:
    - vlp16 (default)  :: Velodyne VLP-16
    - hdl32e           :: Velodyne HDL-32E
  -->
  <xacro:if value="$(optenv CPR_LASER_3D 0)">
    <xacro:property name="lidar_3d_model" value="$(optenv CPR_LASER_3D_MODEL vlp16)" />

    <xacro:if value="${lidar_3d_model == 'vlp16'}">
      <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
      <xacro:VLP-16 parent="$(optenv CPR_LASER_3D_PARENT base_link)" topic="$(optenv CPR_LASER_3D_TOPIC points)">
        <origin xyz="$(optenv CPR_LASER_3D_XYZ 0 0 0)" rpy="$(optenv CPR_LASER_3D_RPY 0 0 0)" />
      </xacro:VLP-16>
    </xacro:if>

    <xacro:if value="${lidar_3d_model == 'hdl32e'}">
      <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro" />
      <xacro:HDL-32E parent="$(optenv CPR_LASER_3D_PARENT base_link)" topic="$(optenv CPR_LASER_3D_TOPIC points)">
        <origin xyz="$(optenv CPR_LASER_3D_XYZ 0 0 0)" rpy="$(optenv CPR_LASER_3D_RPY 0 0 0)" />
      </xacro:HDL-32E>
    </xacro:if>
  </xacro:if>

  <!--
    Add/remove a GNSS/GPS sensor by changing the CPR_GPS environment variable. The default model is the Novatel SMART7, but this can be changed with the CPR_GPS_MODEL environment variable. Valid model designations are:
    - smart7 (default)  :: Novatel SMART7
  -->
  <xacro:if value="$(optenv CPR_GPS 0)">
    <xacro:property name="gps_model" value="$(optenv CPR_GPS_MODEL smart7)" />

    <xacro:if value="${gps_model == 'smart7'}">
      <xacro:include filename="$(find generic_robot)/urdf/accessories/gps/novatel_smart7.urdf.xacro" />
      <xacro:novatel_smart7 parent="$(optenv CPR_GPS_PARENT base_link)"/>
    </xacro:if>

    <joint name="$(optenv CPR_GPS_PARENT base_link)_gps_joint" type="fixed">
      <origin xyz="$(optenv CPR_GPS_XYZ 0 0 0)" rpy="$(optenv CPR_GPS_RPY 0 0 0)" />
      <parent link="$(optenv CPR_GPS_PARENT base_link)" />
      <child link="$(optenv CPR_GPS_PARENT base_link)_gps" />
    </joint>
  </xacro:if>

  <!--
    Add/remove an IMU sensor by changing the CPR_IMU environment variable. The default model is the Microstrain GX5, but this can be changed with the CPR_IMU_MODEL environment variable. Valid model designations are:
    - gx5 (default)  :: Microstrain GX5
  -->
  <xacro:if value="$(optenv CPR_IMU 0)">
    <xacro:property name="imu_model" value="$(optenv CPR_IMU_MODEL gx5)" />

    <xacro:if value="${imu_model == 'gx5'}">
      <xacro:include filename="$(find generic_robot)/urdf/accessories/imu/microstrain_gx5.urdf.xacro" />
      <xacro:microstrain_gx5 parent="$(optenv CPR_IMU_PARENT base_link)"/>
    </xacro:if>

    <joint name="$(optenv CPR_IMU_PARENT base_link)_gx5_link_joint" type="fixed">
      <!-- TODO This offset & rotation may not be final, but it's good enough for now.  May update, pending RSCI-10 -->
      <origin xyz="$(optenv CPR_IMU_XYZ -0.139 0.096 0.100)" rpy="$(optenv CPR_IMU_RPY ${PI} 0 -${PI/2})" />
      <parent link="$(optenv CPR_IMU_PARENT base_link)" />
      <child link="$(optenv CPR_IMU_PARENT base_link)_gx5_link" />
    </joint>
  </xacro:if>

  <!--
    Add/remove a Telodyne FLIR Blackfly S camera by changing the CPR_BLACKFLY environment variable.
  -->
  <xacro:if value="$(optenv CPR_BLACKFLY 0)">
    <xacro:include filename="$(find flir_camera_description)/urdf/flir_blackflys.urdf.xacro" />

    <xacro:flir_blackflys frame="$(optenv CPR_BLACKFLY_PARENT base_link)_camera" name="$(optenv CPR_BLACKFLY_PARENT base_link)_camera"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="60" width="640" height="512"/>

    <joint name="$(optenv CPR_BLACKFLY_PARENT base_link)_camera_joint" type="fixed">
      <origin xyz="$(optenv CPR_BLACKFLY_XYZ 0 0 0)" rpy="$(optenv CPR_BLACKFLY_RPY 0 0 0)" />
      <parent link="$(optenv CPR_BLACKFLY_PARENT base_link)" />
      <child link="$(optenv CPR_BLACKFLY_PARENT base_link)_camera" />
    </joint>
  </xacro:if>

  <!--
    Add/remove an Intel RealSense family camera by changing the CPR_REALSENSE environment variable. The default model is the D435, but can be changed with the
    CPR_REALSENSE_MODEL environment variable. Valid model designations are:
    - d435 (default)
    - d435i
    - d415
    - d455
    - l515
  -->
  <xacro:if value="$(optenv CPR_REALSENSE 0)">
    <xacro:include filename="$(find generic_robot)/urdf/accessories/camera/intel_realsense.urdf.xacro" />
    <xacro:realsense_sensor rs_model="$(optenv CPR_REALSENSE_MODEL d435)"
                            prefix="$(optenv CPR_REALSENSE_PARENT base_link)"
                            topic="$(optenv CPR_REALSENSE_TOPIC realsense)" />
  </xacro:if>

</robot>
